.card {
  position: relative;
  padding: 16px;
  text-align: center;
  max-width: 400px;
  max-height: 470px;

  &__overlay {
    position: relative;
  }

  &__overlay:before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'out of stock';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    color: #8D8F9A;

    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
  }

  &__product_link {
    text-decoration: none;
    color: #1D1F22;
  }

  &__img {
    width: 385px;
    height: 385px;
    object-fit: cover;
  }

  &__title {
    font-size: 18px;
    font-weight: 300;
  }

  &__info {
    text-align: left;
  }

  &__info_disabled {
    color: #8D8F9A;
    text-align: left;
  }

  &__price {
    font-size: 18px;
    font-weight: 500;
  }

  &__add_button {
    cursor: pointer;
    display: none;
    padding: 14px;
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #5ECE7B;
    border: none;
    transition: background 400ms;
  }

  &__add_button_disabled {
    cursor: not-allowed;
    display: none;
    padding: 14px;
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #95EFAA;
    border: none;
    transition: background 400ms;
  }

  &__add_button:hover {
    background: #51AD6A;
  }

  &__add_button:active {
    padding: 15px;
  }

  &__cart_icon {
    fill: #FFFFFF;
  }
}

.card:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.4);
}

.card:hover .card__add_button {
  display: flex;
}

.card:hover .card__add_button_disabled {
  display: flex;
}

@media (max-width: 1450px) {
  .card {
    max-width: 385px;
    max-height: 445px;

    &__img {
      width: 355px;
      height: 355px;
      object-fit: cover;
    }
  }
}
